* {
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-weight: 500;
  font-size: 20px;
}

p {
  color: dimgray;
  text-align: justify;

  padding-bottom: 30px;
}
.color-highlight {
  color: DeepPink;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.half-width {
  width: 40%;
  float: left;
  margin-top: 250px;
  margin-left: 17%;
}
.half-width-img {
  float: left;
  margin-top: 202px;
  margin-left: 120px;
  width: 450px;
}
.half-width-img img {
  width: 100%;
}
section {
  height: 812px;
}
.top-area {
  background-size: cover;
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
}
.top-area h1{
    padding-bottom: 15px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, #ec5197, #ec4c76);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.biography-area {
  background-size: cover;
  background-image: url(images/biography-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.biography-area h2{
    padding-bottom: 15px;
}
.latest-work-area {
  height: 600px;
  text-align: center;
  background-size: cover;
  background: url(images/latest-work-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.latest-work-area h2 {
  margin: 90px;
  font-size: 40px;
}
.img-sec{
    width: 100%;
}
.img-sec img {
  width: 26%;
  margin-left: 30px;
}
.footer-area {
  text-align: center;
}
.footer-area p {
  text-align: center;
}
.up-text {
  margin-top: 30px;
  margin-bottom: 30px;
}
.up-text h6 {
  color: darkgray;
}
.middle-text h3 {
  margin-bottom: 40px;
}
.down-text {
  margin: 150px 300px 150px 350px;
  background-image: linear-gradient(45deg, #ec4f8f, #ed4b72);
  width: 450px;
  padding: 55px 120px;
  border-radius: 7px;
  color: white;
  font-weight: lighter;
  margin-bottom: 0;
  background-position: left;
}
.down-text h6 {
  padding-bottom: 20px;
}
.footer-area {
  height: 600px;
  background-size: cover;
  background-image: url(images/footer-bg.png);
  background-repeat: no-repeat;
  display: block;
  padding-bottom: 50px;
  background-position: left;
}
footer h6 {
  text-align: center;
  color: darkgray;
  padding-bottom: 100px;
}
